:root {
	--dominant: #434455;
	--caption: #2e2f42;
	--white: #ffffff;
	--interactive: #4d5ae5;
	--cloud: #f4f4fd;
	--accent: #404bbf;
	--border: #e7e9fc;
	--icon: #8e8f99;
	--modal: rgba(46, 47, 66, 0.4);
}

/* global */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	line-height: 1.5;
	background-color: var(--white);
	color: var(--dominant);
	overflow-x: hidden;
}
h1,
h2,
h3 {
	text-align: center;
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 72px;
}
img,
svg {
	display: block;
}
p {
	margin: 0;
}
input,
textarea,
button,
label {
	display: block;
	padding: 0;
	margin: 0;
	font-weight: inherit;
	letter-spacing: 0.04em;
	font-size: 12px;
	line-height: 1.5;
}

.container {
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.section {
	padding: 96px 0;
}
/* btn-hamburger */
.menu-toggle {
	border: none;
	outline: none;
	background-color: var(--white);
}
.icon-hamburger {
	stroke: var(--caption);
}

/* header */

.header-section {
	border-bottom: 1px solid var(--border);
	box-shadow:
		0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}
.link {
	text-decoration: none;
}
/* logo */
.logo.link {
	display: block;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	color: var(--interactive);
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin: 24px 0;
}

.logo.link:hover,
.logo.link:focus {
	color: var(--interactive);
}
.logo-header {
	color: var(--caption);
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Main */

.features .title,
.title {
	color: var(--caption);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* section hero */

.hero {
	padding: 112px 0;
	max-width: 1440px;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mobile.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}

.hero-container {
	display: flex;
	flex-direction: column;
	gap: 72px;
	align-items: center;
}
.hero-title {
	font-family: "Roboto";
	color: var(--white);
	font-weight: 700;
	font-size: 25px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	max-width: 496px;
	width: 320px;
}

.btn {
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: var(--interactive);
	color: var(--white);
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	padding: 16px 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	min-width: 169px;
}
.btn:hover,
.btn:focus {
	background-color: var(--accent);
}

/* features */

.features-list {
	display: flex;
	flex-direction: column;
}
.features-list .list-text {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* team section */

.team {
	background-color: var(--cloud);
}
.team-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card {
	background-color: var(--white);
	border-radius: 0px 0px 4px 4px;
	width: 264px;
	box-shadow:
		0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team.section .title {
	margin-bottom: 72px;
}
.list-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}
.card .list-text {
	text-align: center;
	margin-bottom: 8px;
}
.team-card-content {
	padding: 32px 0;
}
.team-icons {
	display: flex;
	justify-content: center;
	gap: 24px;
}
.team-icon {
	width: 40px;
	height: 40px;
}
.traling-link {
	width: 100%;
	height: 100%;
	background-color: var(--interactive);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.traling-link:hover,
.traling-link:focus {
	background-color: var(--accent);
}
.traling {
	fill: var(--cloud);
}

/* customers section */

.customers .title {
	margin-bottom: 72px;
}
.customers-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 16px;
	row-gap: 72px;
}
.customers-item {
	width: calc((100% - 16px) / 2);
	height: 88px;
}
.customers-link {
	width: 100%;
	height: 100%;
	border: 1px solid var(--icon);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--icon);
	transition:
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
	border: 1px solid var(--accent);
	color: var(--accent);
}
.customers-icon {
	fill: currentColor;
}

/* footer */

.footer-section {
	background-color: var(--caption);
	padding: 96px 0;
}
.logo-footer {
	color: var(--cloud);
}
.text-footer {
	color: var(--cloud);
	line-height: 1.5;
	letter-spacing: 0.02em;
	max-width: 268px;
}
.footer-section .logo {
	display: inline-block;
	margin: 0 0 16px 0;
}
.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}

.footer-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-caption {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white);
	margin: 0 0 16px 0;
}
.social-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.social-icons {
	display: flex;
	gap: 16px;
}
.social-item {
	width: 40px;
	height: 40px;
}
.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--interactive);
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: #31d0aa;
}
.social-icon {
	fill: var(--cloud);
}
.subscribe-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subscribe-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}
.subscribe-input {
	background-color: transparent;
	color: var(--white);
	width: 264px;
	height: 40px;
	border: 1px solid var(--white);
	border-radius: 4px;
	padding-left: 16px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-input:focus,
.btn-send:focus {
	outline: none;
}
.subscribe-input::placeholder {
	color: var(--white);
}
.btn-send {
	display: flex;
	justify-content: center;
	gap: 16px;
	min-width: 165px;
	padding: 8px 24px;
}

/* Backdrop */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background: var(--modal);
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	transition:
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
	position: absolute;
	top: 96px;
	left: 50%;
	transform: translateX(-50%) scale(1);
	background-color: #fcfcfc;
	box-shadow:
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	width: 392px;
	min-height: 584px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 72px 16px 24px;
}
.close-btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--border);
	padding: 0;
	top: 24px;
	right: 24px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

/* Form */

.modal-title {
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
	color: var(--caption);
}
.form-label {
	margin-bottom: 4px;
	line-height: 1.17;
	color: var(--icon);
}
.form-container {
	margin-bottom: 8px;
}
.container-input {
	position: relative;
}
.form-input {
	width: 100%;
	height: 40px;
	border: 1px solid var(--modal);
	border-radius: 4px;
	background-color: transparent;
	padding-left: 38px;
	margin-bottom: 8px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
	border-color: var(--interactive);
}
.form-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
	fill: var(--interactive);
}
.container-textarea {
	margin-bottom: 16px;
}
.textarea {
	height: 120px;
	line-height: 1.17;
	padding: 8px 16px;
	resize: none;
	margin: 0;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea::placeholder {
	color: var(--modal);
}

.container-checkbox {
	margin-bottom: 24px;
}
.checkbox-span {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
	width: 16px;
	height: 16px;
	border: 1px solid var(--modal);
	border-radius: 2px;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-right: 8px;
}

.check-input:checked + .check-label > .checkbox-span {
	background-color: var(--accent);
	fill: var(--cloud);
	border: none;
}
.privacy-link {
	color: var(--interactive);
}
.form-btn {
	min-width: 169px;
	height: 56px;
	margin: 0 auto;
}

/* Menu Container  */

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: var(--white);
	z-index: 999;
	padding: 80px 0 40px 40px;

	transform: translateX(-100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
	transform: translateX(0);
}
.close-btn.menu-toggle {
	border: 1px solid var(--border);
	background-color: var(--white);
}
.close-btn:hover,
.close-btn:focus {
	background-color: var(--accent);
	border: none;
	fill: var(--white);
}
.mobile-menu {
	display: flex;
	flex-direction: column;
	gap: 40px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
}
.mobile-menu .link {
	display: block;
	color: var(--caption);
	font-weight: 500;
	margin: 0;
}
.link:hover,
.link:focus {
	color: var(--accent);
}
.link.active {
	color: var(--accent);
}
.contacts {
	font-style: normal;
}
.cont-link:hover,
.cont-link:focus {
	color: var(--interactive);
}
.menu-icons {
	width: 328px;
	margin-top: 48px;
	gap: 40px;
}

/* Media */

@media (min-width: 398px) {
	.hero-title {
		font-size: 36px;
	}
}
@media (max-width: 397px) {
	.subscribe-input {
		width: 320px;
	}
	.mobile-menu {
		display: flex;
		flex-direction: column;
		gap: 40px;
		font-weight: 700;
		font-size: 36px;
		width: 320px;
	}
	.cont-link {
		font-size: 20px;
	}
	.menu-icons {
		gap: 16px;
	}
	.modal {
		width: 320px;
	}
}
@media (max-width: 767px) {
	.menu {
		display: none;
	}
	.cont-link.link {
		color: var(--interactive);
	}
	.cont-link.link.email {
		color: var(--dominant);
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0.02em;
	}
}
@media (max-width: 1158px) {
	.features-icon,
	.working.section {
		display: none;
	}
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.container {
		width: 768px;
	}
	/* HEADER */

	.header-nav {
		display: flex;
		align-items: center;
	}
	.nav-list .link {
		display: inline-block;
		padding: 24px 0;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.nav-list {
		display: flex;
		gap: 40px;
	}
	.link {
		color: var(--caption);
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
	.header-nav .logo {
		margin: 0 120px 0 0;
	}
	.cont-link {
		font-weight: 400;
		font-size: 12px;
		color: var(--dominant);
		letter-spacing: 0.04em;
		line-height: 1.66;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.contacts .list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	.active {
		position: relative;
		color: var(--accent);
	}
	.active::after {
		position: absolute;
		content: "";
		background: var(--accent);
		border-radius: 2px;
		width: 100%;
		height: 4px;
		bottom: -1px;
		left: 0;
	}

	/* Menu */
	/* section hero */

	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tablet.jpg");
	}
	.hero-container {
		gap: 36px;
	}
	.hero-title {
		font-size: 56px;
		line-height: 1.07;
		font-family: Roboto;
		width: auto;
	}

	.btn:hover,
	.btn:focus {
		background-color: var(--accent);
	}
	.modal {
		width: 408px;
	}

	/* features section */
	.features .container {
		padding: 0 16px;
	}
	.features-list {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 72px;
	}
	.features-item {
		flex-basis: calc((100% - 24px) / 2);
	}
	.features-item h3 {
		text-align: left;
	}

	/* team section */

	.team-list {
		width: 552px;
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 64px;
	}
	.card {
		flex-basis: calc((100% - 24px) / 2);
	}

	/* Customers */
	.customers-list {
		width: 552px;
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 72px;
	}
	.customers-item {
		flex-basis: calc((100% - 48px) / 3);
	}

	/* Footer */

	.footer-container {
		flex-direction: row;
	}

	.box {
		align-items: flex-start;
	}
	.subscribe-form {
		flex-direction: row;
		gap: 24px;
	}
}
@media (min-width: 768px) and (max-width: 1157px) {
	.header-container {
		justify-content: flex-start;
	}
	.footer-container {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		width: 552px;
		gap: 72px 24px;
	}
	.nav-list {
		margin-right: 121px;
	}
}
@media (min-width: 1158px) {
	.container {
		width: 1158px;
	}
	.section {
		padding: 120px 0;
	}

	.list-text {
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
	.section-title {
		color: var(--caption);
		font-weight: 700;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		font-size: 36px;
		line-height: 1.11;
		margin-bottom: 72px;
	}
	/* Header */

	.header-container {
		justify-content: space-between;
	}
	.header-nav .logo {
		margin: 0 76px 0 0;
	}
	.cont-link {
		font-size: 16px;
		letter-spacing: 0.02em;
		line-height: 1.5;
	}
	.contacts .list {
		flex-direction: row;
		gap: 40px;
	}

	/* Main */

	.hero-container {
		gap: 48px;
	}

	.hero {
		padding: 188px 0;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
	}
	/* features section */

	.features-list {
		flex-wrap: nowrap;
	}
	.icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--cloud);
		border-radius: 4px;
		width: 264px;
		height: 112px;
		margin-bottom: 8px;
	}
	.features-item {
		flex-basis: calc((100% - 72px) / 4);
		font-family: Roboto;
	}
	.features-list .list-text {
		font-weight: 400;
	}

	.features .title {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}

	/* working */

	.working.section {
		padding-top: 0;
	}

	.working-list {
		display: flex;
		gap: 24px;
	}
	.working-item {
		width: calc((100% - 48px) / 3);
	}

	/* team section */

	.team-list {
		flex-wrap: nowrap;
		gap: 24px;
		margin: 0;
		width: auto;
	}
	.card {
		flex-basis: calc((100% - 72px) / 4);
	}
	.team-icons {
		display: flex;
		justify-content: center;
	}
	.team-icon {
		width: 40px;
		height: 40px;
	}
	.traling-link {
		width: 100%;
		height: 100%;
		background-color: var(--interactive);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.traling-link:hover,
	.traling-link:focus {
		background-color: var(--accent);
	}
	.traling {
		fill: var(--cloud);
	}

	/* Customers */
	.customers-list {
		flex-wrap: nowrap;
		width: 100%;
	}
	.customers-item {
		flex-basis: calc((100% - 120px) / 6);
		height: 88px;
	}

	/* footer */

	.footer-section {
		padding: 100px 0;
	}
	.footer-container {
		flex-wrap: nowrap;
		align-items: baseline;
		margin: 0 auto;
		gap: 0;
	}
	.footer-box {
		margin-right: 120px;
	}
	.footer-caption {
		margin-bottom: 16px;
	}
	.text-footer {
		width: 264px;
	}
	.social-container {
		margin-right: 80px;
	}
	.subscribe-input {
		width: 264px;
	}

	/* Modal */
	.modal {
		top: 50%;
		transform: translate(-50%, -50%) scale(1);
	}
}
@media (min-resolution: 192dpi) {
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mobile@2x.jpg");
	}
	@media (min-width: 768px) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url("../images/hero-tablet@2x.jpg");
		}
	}
	@media (min-width: 1158px) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg@2x.jpg");
		}
	}
}

/* portfolio */

/* filters btns */

.filters {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 72px;
	gap: 24px;
	width: 270px;
}
.filters-btn {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	padding: 8px 16px;
	background-color: var(--cloud);
	color: var(--interactive);
	border: 1px solid var(--border);
	border-radius: 4px;
	cursor: pointer;
	transition:
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-btn:hover,
.filters-btn:focus {
	background-color: var(--accent);
	color: var(--white);
	border: 1px solid transparent;
	box-shadow:
		0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 2px 1px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* project-cards */

.projects-section {
	padding: 48px 0;
}
.projects-container {
	padding: 0 16px;
}
.projects-list {
	align-items: center;
}

.card-projects img {
	width: calc((100%));
}
.projects-list {
	display: flex;
	flex-direction: column;
	column-gap: 24px;
	row-gap: 48px;
}

.card-content {
	padding: 32px 16px;
	border: 1px solid var(--border);
	border-top: none;
}
.projects-link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
	box-shadow:
		0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-link:hover .text-overlay,
.projects-link:focus .text-overlay {
	transform: translateY(0%);
}
.overlay {
	position: relative;
	overflow: hidden;
}
.text-overlay {
	position: absolute;
	top: 1;
	background-color: var(--interactive);
	color: var(--cloud);
	padding: 40px 32px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	width: 100%;
	height: 100%;

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-projects:hover .text-overlay {
	transform: translateY(0);
	top: 0;
}
.link-text {
	color: var(--dominant);
	font-weight: 400;
}
.card-projects h2 {
	color: var(--caption);
	text-align: left;
}
.card-projects:hover .list-title,
.card-projects:focus .list-title {
	color: var(--caption);
}
@media (min-width: 398px) and (max-width: 1157px) {
	.card-projects img {
		height: 280px;
	}
}
@media (min-width: 398px) {
	.card-projects {
		width: 396px;
	}
}

@media (min-width: 768px) {
	.filters {
		flex-wrap: nowrap;
		width: 607px;
		margin: auto;
		margin-bottom: 64px;
	}
	.projects-list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.card-projects {
		flex-basis: calc((100% - 24px) / 2);
	}
	.filters-btn {
		padding: 12px 24px;
	}
	.projects-section {
		padding: 64px 0 96px 0;
	}
}
@media (min-width: 1158px) {
	.projects-section {
		padding: 100px 0 120px 0;
	}
	.card-projects {
		flex-basis: calc((100% - 48px) / 3);
	}
	.filters {
		margin-bottom: 72px;
	}
}
